---
import { isSkill } from '@/types/cv';
import type { Skill, Publication } from '@/types/cv';
import { highlightAuthor } from '@/lib/utils';
import { template } from '@/settings';

interface Props {
  elements: (Skill | Publication)[]
}

const { elements } = Astro.props
---
<ul class='space-y-6'>
  {elements.map((element) => (
    <li class='group'>
      { isSkill(element)
        ? <>
        <h3 class='text-lg font-bold mb-2'>{element.title}</h3>
        <p>{element.description}</p>
        </>
        : <>
      <details class="card bg-base-200" open={false}>
        <summary class="card-body cursor-pointer space-y-1">
          <span class="block text-xl font-semibold">
            <a
              href={template.base + element.link}
              class='hover:text-accent'
              target='_blank'
            >
              {element.title}
            </a>
          </span>
          <span class='block text-base'>
            <span class='font-medium'>Authors:</span>{' '}
            <span set:html={highlightAuthor(element.authors as string)} />
          </span>
          <span class='block text-sm text-base-content/80'>
            <span class='italic'>{element.journal}</span> • {element.time}
          </span>
        </summary>
        <div class="card-body pt-0">
          <p class='text-sm text-base-content/80'>{element.abstract}</p>
          <div class='card-actions justify-end mt-2'>
            <a href={template.base + element.link} class='btn btn-sm btn-secondary text-secondary-content' target='_blank'>
              Read Paper
            </a>
          </div>
        </div>
      </details>
      </>
      }
      {/* Uncomment this line to add a small border bottom for each element
      {index !== elements.length -1 && <hr class="mt-6 border-primary/40" />}  */}
    </li>
  ))}
</ul>
